
@{
    ViewData["Title"] = "Laboratorios";
}

<h1>Registro de Laboratorios</h1>

<fieldset class="row mt-3">
    <form id="search-form" method="post" class="col-md-9 col-12 row">
        <div class="col-4 mb-2">
            <input id="nombre-input" class="form-control" name="Nombre" type="text" placeholder="Nombre">
        </div>
        <div class="col-4 mb-2">
            <input id="direccion-input" class="form-control" name="Direccion" type="text" placeholder="Dirección">
        </div>
        <div class="col-4 mb-2">
            <input id="contacto-input" class="form-control" name="Contacto" type="text" placeholder="Persona de contacto">
        </div>
    </form>
    <div class="col row">
        <div class="col mb-2">
            <button class="btn btn-primary w-100" onclick="renderTable()">Buscar</button>
        </div>
        <div class="col mb-2">
            <button class="btn btn-danger w-100" onclick="limpiar()">Limpiar</button>
        </div>
    </div>
</fieldset>

<hr>

<div id="datatable-container" class="d-flex justify-content-center w-100"></div>

<script src="~/js/laboratorio.js"></script>